#points{
  font-size:7.5vw;
  font-weight:bolder;
  position:absolute;
  top:35.8vh;
  left:13.5vw;
}
#player-option{
 width:85vw;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  flex-direction:row;
  gap:2.5vw;
  position:absolute;
  top:65vh;
}
#player-option img{
  width:15vw;
  height:10vh;
  position:relative;
  top:5vh;
  left:8vw;
}
body{
  overflow:hidden;
}
#modes{
  font-size:7.5vw;
  font-weight:bolder;
  position:absolute;
  top:45.8vh;
  left:12vw;
}
#select-modes{
  width:24vw;
  height:3.5vh;
  position:absolute;
  left:63vw;
  top:47vh;
  font-size:4.5vw;
  font-weight:bolder;
  outline:none;
  background-color:black;
  color:white;
  border-radius:25vw;
  border:1vw solid black;
  display:flex;
  justify-content:center;
  align-items:center;
}
#select-points{
  width:24vw;
  height:3.5vh;
  position:absolute;
  left:63vw;
  top:37vh;
  font-size:4.5vw;
  font-weight:bolder;
  outline:none;
  background-color:black;
  color:white;
  border-radius:25vw;
  border:1vw solid black;
  display:flex;
  justify-content:center;
  align-items:center;
}
#cinfo{
  color:black;
  position:absolute;
  top:75vh;
  left:30vw;
  font-size:5vw;
  font-weight:bolder;
}
#reload-btn{
  width:28vw;
  height:5vh;
  background-color:dodgerblue;
  font-size:3.5vw;
  font-weight:bolder;
  position:absolute;
  top:83vh;
  display:flex;
  justify-content:center;
  align-items:center;
  left:34vw;
  outline:none;
  border:2vw solid dodgerblue;
  display:none;
}
#pinfo{
  color:black;
  position:absolute;
  top:75vh;
  left:35vw;
  font-size:5vw;
  font-weight:bolder;
}
#choose-text{
  position:absolute;
  top:15vh;
  left:15vw;
  font-size:4.5vw;
  font-weight:bolder;
}
#play-button{
  width:28vw;
  height:5vh;
  background-color:dodgerblue;
  font-size:6.5vw;
  font-weight:bolder;
  position:absolute;
  top:76vh;
  display:flex;
  justify-content:center;
  align-items:center;
  left:37vw;
  outline:none;
  border:2vw solid dodgerblue;
}
#loads{
  width:15vw;
  aspect-ratio: 1;
  z-index:1;
  position:absolute;
  top:35vh;
  left:45vw;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/2vw 2vw no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2vw),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
#loader{
  width:15vw;
  aspect-ratio: 1;
  z-index:1;
  position:absolute;
  top:35vh;
  left:43vw;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/2vw 2vw no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2vw),#000 0);
  animation: o13 1s infinite linear;
}
@keyframes o13{ 
  100%{transform: rotate(1turn)}
}
#player-image{
  width:40vw;
  height:30vh;
  position:absolute;
  left:3vw;
  top:20vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#computer-image{
  width:40vw;
  height:30vh;
  position:absolute;
  left:55vw;
  top:20vh;
  transition: transform 0.3s ease-in-out;
&:hover{
  transform:scale(1.1);
}
}
#player-card h3{
  width:25vw;
  height:10vh;
  color:black;
  position:absolute;
  top:55vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:4.5vw;
  font-weight:bolder;
  left:10vw;
}
#player-card p{
  width:25vw;
  height:10vh;
  color:black;
  position:absolute;
  top:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:4.5vw;
  font-weight:bolder;
  left:10vw;
}
#computer-card p{
  width:25vw;
  height:10vh;
  color:black;
  position:absolute;
  top:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:4.5vw;
  font-weight:bolder;
  left:63vw;
}
#computer-card h3{
  width:25vw;
  height:10vh;
  color:black;
  position:absolute;
  top:55vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:4.5vw;
  font-weight:bolder;
  left:63vw;
}
#p-icon{
  position:absolute;
  top:65vh;
  left:10vw;
  font-size:6vw;
}
#c-icon{
  position:absolute;
  top:65vh;
  left:59vw;
  font-size:6vw;
}